/* lowkey globals */
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botNav{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.botNavCenter{
    width: 10vw;
    display: flex;
    justify-content: flex-end;
}
.botNavCenter .fas:hover{
    cursor: pointer;
}
.back{
    display: none;
}
#btn{
    width: auto;
    height: auto;
    background: transparent;
    outline: none;
    font-size: 25px;
    border: none;
}
.topNav{
    width: 80vw;
    padding-bottom: 1%;
    border-bottom: 3px solid #232323;
    display: none;
    font-family: 'Anonymous Pro', monospace;
    font-size: 40px;
    justify-content: space-between;
}
.fas{
    z-index: 20;
}
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 6px;
    left: 5px ;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 2px;
    left: 2.1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
  }
  .bar{
    top: 35%;
    position: absolute;
    left:55%;
    opacity: 0;
    width: 1vw;
    transition: 1s;
  height: 10vh ;
  }
  .mainImg{
    width: 50%;
    height: 70vh;
    z-index: 1;
}
a{
    color: #1263ae;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    margin-left: 5%;
}
/* first landing page with including animations */
.main .enter{
    width: 300vw;
    height: 300vh;
    animation: logo 1s forwards linear;
    transition: .5s;
}
.startText{
    animation: start 0.5s forwards linear;
    animation-delay: 1.2s;
    font-size: 30px;
    text-align: center;
    color: black;
    position: absolute;
    left: 0;
    top: -200px;

}
.startText:hover{
    text-shadow: 1px 2px #000000;
    cursor: pointer;
}
.enterDiv{
    width: 200px;
    margin-top: 2%;

    text-align: center;
    overflow: hidden;
    height: 100px;
    position: relative;
}

@keyframes logo {
    0%{
        width: 300vw;
        height: 300vh;
    }
    100%{
        width: 100px;
        height: 100px;
    }
}
@keyframes start {
    from{
        left: 0;
        top: -200px;
    }
    to{
        left: 0;
        top: 0;
    }
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    top: 30%;
    right: 30%;
    transition:  .5s linear;
}
/* idenfication page with animations */
.identification{
    width: 80vw;
    display: none;
}
.identificationMid{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 95%;
}


.identificationMid form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height:100%;
}
.identificationMid label{
    display: flex;
    width: 100%;
    font-weight: 900;
    margin-bottom: 10%;
    flex-direction: column;
}
.identificationMid label:first-of-type{
    margin-top: 8%;
    
}
input::placeholder{
    color: black;
}
.firstInputs{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    padding: 3%;
}


.firstInfo{
    width: 220px;
    color: #626262;
}
.firstInfo hr{
    width: 70%;
    margin-left: 0;
}
.missMatchAlert{
    color: #F15524;
    font-size: 13px;
}
/* page about asking if user has had covid and stuff about vaxx */
.aboutCovidQs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    font-weight: 700;
    font-size: 19px;
}
input[type='radio']{
    background-color: transparent;
}
.aboutCovid{
    width: 80%;
    display: none;
    height: 70%;
    justify-content: space-between;
}
.vacinateTwo{
    width: 50%;
    height: 70vh;
    z-index: 1;
}
.additionalSecondYes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    justify-content: center;
}
.additionalSecondYes input,.additionalSecondNo input{
    width: 100%;
    margin-top: 1%;
    height: 40px;
    box-sizing: border-box;
}
.additionalFirst{
    display: none;
}
.additionalSecondNo{
    display: none;
}
/* vaxx page */
.vaxx{
    display: none;
    justify-content: center;
    width: 80%;
}
.vaxxQs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    font-weight: 600;
    font-size: 19px;
}
.oneVaxOnlyPara{
    width: 300px;
    margin-left: 5%;
}
.vaxxYes{
    display: none;
}
.oneVaxOnlyPara{
    display: none;
}
.vaxxNo{
    display: none;
}
.noPlansPara{
    display: none;
}
.planningVaxxPara{
    display: none;
}